body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: antiquewhite;
}
#root {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root div {
  width: 768px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

.active {
  color: rgb(235, 233, 90);
  border-bottom: 2px solid rgb(235, 233, 90);
  font-weight: 600;
}
